<a href="https://colab.research.google.com/github/sumaia42/Ostad_Course/blob/main/asssigmnt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'A': [0, 1, 2, 3, 4],
    'B': [21, np.nan, 22, 34, np.nan],
    'C': [31, np.nan, 33, np.nan, 35],
    'D': [np.nan, np.nan, np.nan, np.nan, np.nan],
}

In [3]:
df = pd.DataFrame(data)

In [4]:
def count_nan_values(dataframe):
    return dataframe.isnull().sum().sum()

In [5]:
def fill_na_backward(dataframe):
    return dataframe.bfill()

In [6]:
def fill_na_with_zero(dataframe):
    return dataframe.fillna(0)

In [7]:
print("Number of NaN values in the original DataFrame:", count_nan_values(df))

Number of NaN values in the original DataFrame: 9

In [12]:
def fill_na_forward(dataframe):
    return dataframe.ffill()

In [13]:
filled_forward = fill_na_forward(df)
print("\nDataFrame after forward fill:")
print(filled_forward)

DataFrame after forward fill:
   A     B     C   D
0  0  21.0  31.0 NaN
1  1  21.0  31.0 NaN
2  2  22.0  33.0 NaN
3  3  34.0  33.0 NaN
4  4  34.0  35.0 NaN

In [14]:
filled_backward = fill_na_backward(df)
print("\nDataFrame after backward fill:")
print(filled_backward)

DataFrame after backward fill:
   A     B     C   D
0  0  21.0  31.0 NaN
1  1  22.0  33.0 NaN
2  2  22.0  33.0 NaN
3  3  34.0  35.0 NaN
4  4   NaN  35.0 NaN

In [15]:
filled_with_zero = fill_na_with_zero(df)
print("\nDataFrame after '0' fill:")
print(filled_with_zero)

DataFrame after '0' fill:
   A     B     C    D
0  0  21.0  31.0  0.0
1  1   0.0   0.0  0.0
2  2  22.0  33.0  0.0
3  3  34.0   0.0  0.0
4  4   0.0  35.0  0.0